@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


body {
  margin: 0;
  font-family: 'Outfit', Arial, sans-serif;
  background: #f8f6f3;
  color: #222;

}

.hero {
  padding: 80px 20px;
  text-align: left;
  background: #e3ded6;
}

h1 {
  margin: 0 0 10px;
  color: #EBEAE1;
  font-size: 2.5rem;
  letter-spacing: -0.5px;
}
/* Mobile screens */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem; /* smaller on mobile */
  }
}

.tagline {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.section {
  padding: 50px 20px;
  max-width: 700px;
  margin: left;
  text-align: left;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 20px;
  border-radius: 6px;
  background: black;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.btn.secondary {
  background: #555;
}

.footer {
  padding: 20px;
  text-align: left;
  font-size: 0.85rem;
  color: #666;
}

.hero {
  background-image: url('../images/backgnd1.jpeg');
  background-size: cover;      /* fills div, keeps aspect ratio */
  background-position: center; /* center the subject */
  background-repeat: no-repeat;
   color: white;
  height: 80vh;
  position: relative;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: left;  /* vertical alignment of content */
  align-items: flex-start;  /* left-align content */
  padding: 4rem;
   color: white;
  height: 100%; /* fill the hero div */
}


.hero-overlay {
  background: none; /* dark overlay */
  padding: 0px;
  text-align: left;
  color: white;
  border-radius: 8px;
}


.tagline {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.menu-container {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.menu-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.dropdown {
  display: none; /* hidden by default */
  position: absolute;
  top: 100%;
  left: 0;
  background: #333;
  padding: 10px;
  border-radius: 6px;
  min-width: 150px;
}

.dropdown a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  font-family: 'Outfit', sans-serif;
}

.dropdown a:hover {
  background: #555;
  border-radius: 4px;
}

/* Show dropdown on hover */
.menu-container:hover .dropdown {
  display: block;
}

