@font-face {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}


body {
  margin: 0;
  font-family: 'Outfit', Arial, sans-serif;
  background: #f8f6f3;
  color: #222;

}

.hero {
  padding: 80px 20px;
  text-align: left;
  background: #e3ded6;
}

h1 {
  margin: 0 0 10px;
  font-size: 2.4rem;
  letter-spacing: -0.5px;
}

.tagline {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.section {
  padding: 50px 20px;
  max-width: 400px;
  margin: auto;
  text-align: left;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 20px;
  border-radius: 6px;
  background: black;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.btn.secondary {
  background: #555;
}

.footer {
  padding: 20px;
  text-align: left;
  font-size: 0.85rem;
  color: #666;
}

.hero {
  background-image: url('../images/ui_image.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  height: 80vh; /* 80% of screen height */
  display: flex;
  align-items: left;
  justify-content: left;
  position: relative;
}

.hero-overlay {
  background: none; /* dark overlay */
  padding: 40px;
  text-align: left;
  color: white;
  border-radius: 8px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.tagline {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
